<h1>My Schedule</h1>
<p>
<% @bookings.joins(:timeslot).order("timeslots.start_time").each do |booking| %>
  <%= booking.timeslot.act.name %>, <%= booking.timeslot.start_time.strftime("%A %l:%M %p") %> - <%= booking.timeslot.venue.name %> <%= link_to 'Delete', booking_path(booking), method: :delete, data: {confirm: 'Are you sure you want to delete this booking?'} %><br><br>
<% end %></p>
