<style>
  body {
    font-family: Helvetica;
    padding: 30px;
  }
  a {
    color: navy;
  }
</style>

<h1> Event Listings </h1>

<% @events.each do |event| %>

<h3><%= link_to event.name, controller: :events, action: :home, id: event.id, event_id: event.id %></h3>
<%= event.description %><br><br>

<% end %>
<br><br>
<%= link_to "New Event", new_event_path %>
