
<div id="map" style="height:300px; width:500px; float: left; margin: 20px;"></div>
  <script>
    var map = new GMaps({
      el: '#map',
      lat: 55.636698,
      lng: -2.793565, 
    });


    map.addMarker({
      lat: 55.636698,
      lng: -2.793565,
      title: 'Lima',
      infoWindow: {
        content: '<p>HTML Content</p>'
      }
    });
  </script>
<br><br>
  <h1>Find Us</h1>
  Borders Fest is located just outside of Galashiels in the Scottish Borders. You can get to us via rail at Galashiels Railway Station, by bus or by car. There will be free shuttle buses from Galashiels town centre to the festival site running throughout the weekend.